.search {
  &__heading {
    font-size: 2rem;
    margin: 0 0 1rem;
  }

  &__input {
    border-bottom: 1px solid;
    font-size: 4rem;
    margin: 2rem 0;
    width: 100%;
  }

  &__result-item {
    &-btn {
      align-items: center;
      background-color: #efefef;
      cursor: pointer;
      display: flex;
      width: 100%;
    }

    &-image {
      height: 4rem;
      margin-right: 1rem;
      object-fit: cover;
      width: 4rem;
    }

    &-name {
      font-size: 1.5rem;
    }

    &:nth-child(2n) & {
      &-btn {
        background-color: #f8f8f8;
      }
    }
  }
}
